test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# stuff added by claude sandbox
.claude/*
.bash_profile
.bashrc
.zshrc
.mcp.json
.profile
.ripgreprc
.zprofile
.gitconfig
.gitmodules
.idea
.vscode
HEAD
config
hooks
objects
refs


